<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModelJRMail" connectionString="data source=LAPTOP-DFE930V3\SQLEXPRESS;initial catalog=JRMail;persist security info=True;user id=jrmail_user;password=KD52sXfW4M*y!jIU;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>